<!DOCTYPE html>
<html>
  <head>
    <title>StrangerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="inner">
          <div class="nav">
            <div class="nav_left">
              <%= link_to "StrangerApp", root_path, class: :logo %>
            </div>
            <div class="nav_right">
              <%= link_to "ログイン", "#" %>
              <%= link_to "新規登録", "#" %>
            </div>       
          </div>
        </div>
      </header>
      <%= yield %>
      <footer class="footer">
        <p class="copyright">Copyright © Strange app All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
